# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\faree\OneDrive - Carleton University\Sem 11 Fall 2020\SYSC 3110 (Software Development Project)\Labs\L2\SYSC3110L3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
